# Medusa training outputs (keep config but ignore large files)
# test_medusa_mlp*/**/checkpoint-*
# test_medusa_mlp*/**/*.safetensors
*.safetensors
medusa_5heads_*
test_medusa_mlp_._medusa_3_lr_0.001_layers_1/*
medusa_heads_5/*

# Python cache
__pycache__/
*.pyc

# Logs and process files
log/*
*.pid
docs/*
trace*
log/*

# testing files
test/*
deepspeed_lowmem.json
run_parallel_distill.sh
inference/diagnose_medusa.py

